## 연습문제

### **연습1:특정 위치 출력**
나라온의 주민등록번호는 910906-201321이다. 년월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [ ]:
# 연습: 특정 위치 출력
pin = "910906-201321"

birth = pin[:6]
num = pin[-6:]
print(birth,',' ,num)

910906 , 201321

### **연습2: 출력 결과**
다음 중 출력 결과가 다른 것 한 개를 골라 보자.  
1) print("we" "are" "happy")  
2) print("we", "are", "happy")  
3) print("we"+"are"+"happy")  
4) print("".join(["we", "are", "happy"]))

In [ ]:
# 연습: 출력 결과
print('Same answer - 1,3,4')
print("we" "are" "happy")
print("we"+"are"+"happy")
print("".join(["we", "are", "happy"]))
print('----------------------')
print('Different answer - 2')
print("we", "are", "happy")

Same answer - 1,3,4
wearehappy
wearehappy
wearehappy
----------------------
Different answer - 2
we are happy

### **연습3: 문장 출력** 
다음 두 문장을 모든 부호(큰따옴표, 작은 따옴표)를 포함해서 하나의 print 문으로 출력해 보시오. (Hint: 삼중 따옴표 이용)

"She's gone! Yon' Heathcliff's run off wi' her!" gasped the girl.  
"That is not true!" exclaimed Linton, rising in agitation.

In [ ]:
# 연습: 문장 출력
sentence = '''
"She's gone! Yon' Heathcliff's run off wi' her!" gasped the girl.
"That is not true!" exclaimed Linton, rising in agitation.
'''

print(sentence)

"She's gone! Yon' Heathcliff's run off wi' her!" gasped the girl.
"That is not true!" exclaimed Linton, rising in agitation.

### **연습4: 가격 계산**  
SM Restaurant에서 주문한 메뉴의 가격은 $31.45 이지만 가격의 8.6%에 해당되는 판매세를 추가해야 한다. 여기에 총 가격의 15%에 해당되는 팁까지 포함할 경우 지불해야 하는
총 가격은 얼마인지 소수점 둘째자리까지 보여주시오. (계산 과정을 변수를 사용해서 보여주시오.)

In [ ]:
# 연습: 가격 계산 

meal = 31.45
tax_rate = 0.086
tip_rate = 0.15

price = meal+ meal*tax_rate
price_sum = price + price*tip_rate
print("총 가격 = {0:.3f}".format(price_sum))

총 가격 = 39.278

### **연습5: 구구단 만들기**  
for 문을 이용하여 다음과 같이 구구단 결과가 나오도록 만들시오.   
   1 x 1 = 1  
   1 x 2 = 2  
   1 x 3 = 3  
   :

   9 x 9 = 81

In [ ]:
# 연습: 구구단 만들기

for i in range(1,10):
  for j in range(1,10):
    print(i ,'X',j, '=' , i*j)

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

### **연습6: 평균 구하기**  
01분반 5명의 학생들의 중간고사 점수는 다음과 같다. sum, len 함수를 이용해서 평균 점수를 구해 보자.  

score = [80, 60, 70, 50, 90]

In [ ]:
# 연습: 평균 구하기 
score = [80, 60, 70, 50, 90] 

mean = sum(score)/len(score)
mean

70.0

### **연습7: join 함수**  
다음 리스트를 join 함수를 이용하여 We are happy 문자열로 만들어 출력해 보자.

mylist = ['We', 'are', 'happy']

In [ ]:
# 연습: join 함수   

mylist = ['We', 'are', 'happy']

sentence_7 = " ".join(mylist)
print(sentence_7)

We are happy

### **심화 연습: for, if문**

다음 문자열에서 모음 [ ‘a’, ‘e’, ‘i’, ‘o’, ‘u’ ] 이 몇 번 나오는지 출력하시오. (Hint: for, if 문 이용)

tx = 'Perfection requires the hand of time'

In [ ]:
from re import X
# 추가 연습: for, if문
  
tx = 'Perfection requires the hand of time'
tx_list=list(tx)
a_num = 0
e_num = 0
i_num = 0
o_num = 0
u_num = 0
for x in tx_list:
  if x == 'a':
    a_num += 1
  if x == 'e':
    e_num += 1
  if x == 'i':
    i_num += 1
  if x == 'o':
    o_num += 1
  if x == 'u':
    u_num += 1

print('a = ', a_num, '개')
print('e = ', e_num, '개')
print('i = ', i_num, '개')
print('o = ', o_num, '개')
print('u = ', u_num, '개')

a =  1 개
e =  6 개
i =  3 개
o =  2 개
u =  1 개